body {
        background: rgb(0,255,252);
    background: -moz-linear-gradient(150deg, rgba(0,255,252,1) 0%, rgba(171,0,255,1) 100%);
    background: -webkit-linear-gradient(150deg, rgba(0,255,252,1) 0%, rgba(171,0,255,1) 100%);
    background: linear-gradient(150deg, rgba(0,255,252,1) 0%, rgba(171,0,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00fffc",endColorstr="#ab00ff",GradientType=1); 
    color: white;
}
h1 {    
    text-align: center;
    font-weight:900;
    font-size: 350%;
    font-style: italic;
    text-decoration:underline;
    color: white;
}

.Rubric { 
    font-size: 350%;
    text-align: center;
    font-style: italic;
    text-decoration-line:underline
    color: white;
}
main {
    margin-left: 10%;
    margin-right: 10%;
    max-width:100%;
}
header {
    background:rgb(0, 0, 0);
}
.Menu {
    max-width: 90%;
    width:100%;
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    color: white;
}
header .Menu {
    display: flex;
    justify-content:flex-end;
}
header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    color: white;
}   
a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    color: white;
}
img {
    width:5%;
    height:5%;vertical-align: middle;
    margin-top: 1em;
}
.moi {
    width: 35em;
    height: 35em;
    float: right; 

}
.int {
    text-align:justify ;
    margin-right: 50%;
    margin-top: 20%;
    
}
h1.container {
    visibility:hidden;
}